ChessOnlineWebApp/ChessOnlineWebApp/Connected Services/GamesManagementServiceReference/GamesManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamesManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GamesManagementService/GamesManagementService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GamesManagementService/GamesManagementService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GamesManagementService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GamesManagementService/GamesManagementService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamesManagementService_SaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGame" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_SaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_SaveGame_GamesManagementFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GamesManagementService" name="detail" element="q1:GamesManagementFault" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_GetAllSavedGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSavedGames" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_GetAllSavedGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSavedGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_GetAllSavedGames_GamesManagementFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GamesManagementService" name="detail" element="q2:GamesManagementFault" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_FindMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMatch" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_FindMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGamesManagementService_FindMatch_GamesManagementFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GamesManagementService" name="detail" element="q3:GamesManagementFault" />
  </wsdl:message>
  <wsdl:portType name="IGamesManagementService">
    <wsdl:operation name="SaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesManagementService/SaveGame" message="tns:IGamesManagementService_SaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesManagementService/SaveGameResponse" message="tns:IGamesManagementService_SaveGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGamesManagementService/SaveGameGamesManagementFaultFault" name="GamesManagementFaultFault" message="tns:IGamesManagementService_SaveGame_GamesManagementFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSavedGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesManagementService/GetAllSavedGames" message="tns:IGamesManagementService_GetAllSavedGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesManagementService/GetAllSavedGamesResponse" message="tns:IGamesManagementService_GetAllSavedGames_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGamesManagementService/GetAllSavedGamesGamesManagementFaultFault" name="GamesManagementFaultFault" message="tns:IGamesManagementService_GetAllSavedGames_GamesManagementFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesManagementService/DeleteGame" message="tns:IGamesManagementService_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesManagementService/DeleteGameResponse" message="tns:IGamesManagementService_DeleteGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamesManagementService/FindMatch" message="tns:IGamesManagementService_FindMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamesManagementService/FindMatchResponse" message="tns:IGamesManagementService_FindMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGamesManagementService/FindMatchGamesManagementFaultFault" name="GamesManagementFaultFault" message="tns:IGamesManagementService_FindMatch_GamesManagementFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamesManagementService" type="tns:IGamesManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveGame">
      <soap:operation soapAction="http://tempuri.org/IGamesManagementService/SaveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GamesManagementFaultFault">
        <soap:fault use="literal" name="GamesManagementFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllSavedGames">
      <soap:operation soapAction="http://tempuri.org/IGamesManagementService/GetAllSavedGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GamesManagementFaultFault">
        <soap:fault use="literal" name="GamesManagementFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IGamesManagementService/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMatch">
      <soap:operation soapAction="http://tempuri.org/IGamesManagementService/FindMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GamesManagementFaultFault">
        <soap:fault use="literal" name="GamesManagementFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamesManagementService">
    <wsdl:port name="BasicHttpBinding_IGamesManagementService" binding="tns:BasicHttpBinding_IGamesManagementService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/GamesManagementService/GamesManagementService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>