ChessOnlineWebApp/ChessOnlineWebApp/Connected Services/GamesManagementServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:long" />
      <xs:element minOccurs="0" name="GameString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayedAs" type="tns:Game.Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:simpleType name="Game.Player">
    <xs:restriction base="xs:string">
      <xs:enumeration value="White" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Game.Player" nillable="true" type="tns:Game.Player" />
  <xs:complexType name="GamesManagementFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultType" type="tns:GamesManagementFault.GamesManagementFaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamesManagementFault" nillable="true" type="tns:GamesManagementFault" />
  <xs:simpleType name="GamesManagementFault.GamesManagementFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TokenExpired" />
      <xs:enumeration value="InvalidSignature" />
      <xs:enumeration value="ServerFault" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GamesManagementFault.GamesManagementFaultType" nillable="true" type="tns:GamesManagementFault.GamesManagementFaultType" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
</xs:schema>