GamesManagementService/Connected Services/AuthorizationServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorizationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorizationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="AuthorizationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultType" type="tns:AuthorizationFault.AuthorizationFaultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationFault" nillable="true" type="tns:AuthorizationFault" />
  <xs:simpleType name="AuthorizationFault.AuthorizationFaultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TokenExpired" />
      <xs:enumeration value="InvalidSignature" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthorizationFault.AuthorizationFaultType" nillable="true" type="tns:AuthorizationFault.AuthorizationFaultType" />
</xs:schema>